.DS_Store

node_modules/
.pnpm-debug.log*
.pnpm-store/

*.js
*.d.ts
tsconfig.tsbuildinfo

# vitest
coverage/

# output
dist/

# turbo
.turbo/

# astro
.astro/

# CDK asset staging directory
.cdk.staging
cdk.out/
cdk-integ.out.*

# hugo
docs/public/

# vercel
.vercel
